* {
	font-family: 'IBM Plex Sans', sans-serif;
}

body {
	background-color: rgb(30, 35, 40);
}

#root {
	height: 100%;
}

#homepage {
	/* center both horizontally and vertically */
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	height: fit-content;
	text-align: center;
}

h1 {
	color: white;
	width: fit-content;
	font-size: 60px;
	margin: 0;
	padding-bottom: 20px;
}

input {
	background-color: rgba(255, 255, 255, 0.2);
	outline: none;
	border: none;
	border-bottom: 2px solid lightblue;
	padding: 10px;
	width: 300px;
	color: white;
	font-size: 25px;
	text-align: center;
	margin: auto;
}

input::placeholder {
	color: lightgray
}

button {
	width: fit-content;
	margin: auto;
}

#mainCard {
	margin: auto;
}

textarea {
	background-color: rgb(50, 50, 50);
	color: white;
	resize: none;
	border: none;
	outline: none;
	margin-top: 30px;
	margin-left: 10%;
	width: 80%;
	height: 400px;
}

#downloadButton a {
	color: white;
	border-bottom: 2px solid white;
	font-size: 20px;
	text-decoration: none;
	padding-top: 20px;
	width: 100%;
}

#downloadButton {
	text-align: center;
}

#rateLimit{
	color: grey;
	font-size: 18px;
	position: absolute;
	bottom: 15px;
	right: 15px;
	margin: 0;

	span{
		font-size: 25px;
	}
}