#repoPage{
	color: white;
	display: flex;
	flex-direction: column;
	flex: 3;
	padding-left: 40px;
	padding-top: 20px;
	
	#title{
		
		display: flex;
		flex: row;
		padding-right: 50px;

		h1{
			padding: 0;
		}

		h2{
			color: lightgrey;
			a{
				color: lightgrey;
				text-decoration: none;
			}

			a:hover{
				color: lightgrey;
				border-bottom: 3px solid lightgrey;
			}
		}
		
		a{
			color: white;
			text-decoration: none;
		}

		a:hover{
			color: lightgrey;
		}

		span{

			margin-right: 15px;

			svg{
				display: inline-block;
				vertical-align: text-bottom;
			}
		}

		.info{
			line-height: 25px;
		}
	}

	#buttons{
		.stateButton{
			font-size: 20px;
			outline: none;
			border: 2px solid lightblue;
			background-color: rgba(255, 255, 255, 0.2);
			color: white;
			margin-right: 10px;
			padding: 5px 20px;
			border-radius: 10px;
		}

		.active{
			background-color: lightblue;
			color: black;
		}
	}

	#dataPage{
		display: flex;
		flex-direction: row;
		height: 450px;

		#chartContainer{
			h2{
				margin-bottom: 0;
			}
		}

		#chart{
		
			width: 350px;
			height: 350px;
		
			#chartContainer{
				height: 350px;
				width: 350px;
			}
		
			#chartLabels{
				padding-top: 10px;
				width: 100%;
				position: relative;
				top: -50%;
				left: 50%;
				transform: translate(-50%, -50%);
		
				width: fit-content;
				display: flex;
				flex-direction: column;
				align-items: center;
		
				div{
					width: fit-content;
				}
			}
		
		}

		#contributors{
			padding-left: 20px;
			min-width: 300px;

			#contributorList{
				overflow-y: scroll;
				height: 250px;
			}

			a{
				color: white;
				text-decoration: none;
				font-size: 20px;
				margin-bottom: 10px;
				
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			img{
				width: 50px;
				height: 50px;
				border-radius: 50%;
				border: 2px solid lightblue;
			}

			span{
				padding-bottom: 5px;
			}
		}
	}


	// #githubCards{
	// 	margin: 10px;
	// 	padding: 0 10px;
	// 	display: inline-flex;
	// 	flex-wrap: wrap;
	// 	max-height: 500px;
	// 	overflow-x: scroll;
		
	// 	.ghCard{
	// 		margin: 10px;
	// 		padding: 0;
	// 		height: max-content;
	// 	}
	// }

	// #githubCards > div{
	// 	margin: 0;
	// 	padding: 0;
	// }
}