#repoPage {
  color: white;
  display: flex;
  flex-direction: column;
  flex: 3;
  padding-top: 20px;
}
#repoPage #title {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  text-align: center;
}
#repoPage #title h1 {
  padding: 0;
  width: 100%;
}
#repoPage #title h2 {
  color: lightgrey;
  margin-top: 10px;
  margin-bottom: 10px;
}
#repoPage #title h2 a {
  color: lightgrey;
  text-decoration: none;
}
#repoPage #title h2 a:hover {
  border-bottom: 3px solid lightgrey;
}
#repoPage #title a {
  color: white;
  text-decoration: none;
}
#repoPage #title a:hover {
  color: lightgrey;
}
#repoPage #title span {
  margin-right: 15px;
}
#repoPage #title span svg {
  display: inline-block;
  vertical-align: text-bottom;
}
#repoPage #title .info {
  line-height: 25px;
  margin: 0;
}
#repoPage #buttons {
  text-align: center;
  margin-bottom: 20px;
}
#repoPage #buttons .stateButton {
  font-size: 20px;
  outline: none;
  border: 2px solid lightblue;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin-right: 10px;
  padding: 5px 20px;
  border-radius: 10px;
}
#repoPage #buttons .active {
  background-color: lightblue;
  color: black;
}
#repoPage #dataPage {
  display: flex;
  flex-direction: row;
  height: 450px;
  justify-content: center;
}
#repoPage #dataPage h2 {
  font-size: 30px;
  border-bottom: 3px dashed grey;
  width: fit-content;
  padding-bottom: 3px;
}
#repoPage #dataPage .dataCard {
  border: 5px dashed lightblue;
  border-radius: 5px;
  height: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#repoPage #dataPage #languageChart {
  width: 350px;
  height: 350px;
}
#repoPage #dataPage #languageChart #chartContainer {
  height: 350px;
  width: 350px;
}
#repoPage #dataPage #languageChart #chartLabels {
  font-weight: bold;
  padding-top: 10px;
  width: 100%;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#repoPage #dataPage #languageChart #chartLabels div {
  width: fit-content;
}
#repoPage #dataPage #contributors {
  padding: 0 20px;
  min-width: 300px;
}
#repoPage #dataPage #contributors #contributorList {
  overflow-y: scroll;
  height: 350px;
  width: 80%;
}
#repoPage #dataPage #contributors a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#repoPage #dataPage #contributors a:hover {
  color: lightgrey;
}
#repoPage #dataPage #contributors img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid lightblue;
}
#repoPage #dataPage #contributors span {
  padding-bottom: 5px;
}
