#repoPage {
  color: white;
  display: flex;
  flex-direction: row;
}
#repoPage #left {
  display: flex;
  flex-direction: column;
  flex: 3;
  padding-left: 40px;
  padding-top: 20px;
}
#repoPage #left #title #titleleft {
  padding-right: 50px;
}
#repoPage #left #title #titleleft h1 {
  padding: 0;
}
#repoPage #left #title #titleleft h2 {
  color: lightgrey;
}
#repoPage #left #title #titleleft h2 a {
  color: lightgrey;
  text-decoration: none;
}
#repoPage #left #title #titleleft h2 a:hover {
  color: lightgrey;
  border-bottom: 3px solid lightgrey;
}
#repoPage #left #title #titleleft a {
  color: white;
  text-decoration: none;
}
#repoPage #left #title #titleleft a:hover {
  color: lightgrey;
}
#repoPage #left #title #titleright svg {
  display: inline-block;
  vertical-align: text-bottom;
}
#repoPage #left #title #titleright .info {
  padding-right: 20px;
  padding-bottom: 20px;
  margin: 0;
  display: inline-block;
  vertical-align: text-bottom;
}
#repoPage #left #title #titleright #stats {
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}
#repoPage #left #title #titleright #stats .stat {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.2);
  margin-right: 20px;
  padding: 10px 0;
  border-radius: 10px;
  width: 100px;
  text-align: center;
  border: 3px solid lightblue;
}
#repoPage #left #title #titleright #stats .stat span {
  font-size: 20px;
  font-weight: bold;
}
#repoPage #left #bottom {
  display: flex;
  flex-direction: row;
  height: 450px;
}
#repoPage #left #bottom #chartContainer h2 {
  margin-bottom: 0;
}
#repoPage #left #bottom #chart {
  width: 350px;
  height: 350px;
}
#repoPage #left #bottom #chart #chartContainer {
  height: 350px;
  width: 350px;
}
#repoPage #left #bottom #chart #chartLabels {
  padding-top: 10px;
  width: 100%;
  position: relative;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#repoPage #left #bottom #chart #chartLabels div {
  width: fit-content;
}
#repoPage #left #bottom #contributors {
  padding-left: 20px;
  min-width: 300px;
}
#repoPage #left #bottom #contributors #contributorList {
  overflow-y: scroll;
  height: 250px;
}
#repoPage #left #bottom #contributors a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#repoPage #left #bottom #contributors img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid lightblue;
}
#repoPage #left #bottom #contributors span {
  padding-bottom: 5px;
}
#repoPage #left #githubCards {
  margin: 10px;
  padding: 0 10px;
  display: inline-flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-x: scroll;
}
#repoPage #left #githubCards .ghCard {
  margin: 10px;
  padding: 0;
  height: max-content;
}
#repoPage #left #githubCards > div {
  margin: 0;
  padding: 0;
}
.customGraphLabel {
  width: 50px;
  height: 50px;
}
